echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "*.pyd" >> .gitignore
echo "*.env" >> .gitignore
echo "*.env.local" >> .gitignore
echo "*.env.*.local" >> .gitignore
echo "venv/" >> .gitignore
echo ".env" >> .gitignore
echo ".docker/" >> .gitignore
echo "*.log" >> .gitignore
echo "Dockerfile" >> .gitignore
echo "docker-compose.yml" >> .gitignore
